<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/style/style.css">
</head>
<body>
    <div class="spacer"></div>
    <div class="head-bar">
        <h1>Welcome <%= user %></h1>
        <h3>We are using express EJS</h3>
    </div>
    <div class="authoriser">
        <a href="/"><button>Home</button></a>
        <a href="/properties"><button>Properties</button></a>
        <a href="/login" id="login"><button>Login</button></a>
        <a href="/register" id="register"><button>Register</button></a>
        <button id="logout" onclick="logout()">Log out</button>
    </div>
    <div class="nini">
        <button>Clicker</button>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
                
        </div>
    </div>
    <div class="nini-center">
        <form action="/tag" method="POST">
            <input type="text" required name="fullname" placeholder="enter your name" value="<%= user.fullname %>">
            <input type="email" required name="email" placeholder="enter email" value="<%= user.email %>">
            <input type="text" required name="mobile" placeholder="enter mobile bumber" value="<%= user.mobile %>">
            <input type="text" required name="city" placeholder="enter city" value="<%= user.city %>">
            <input type="password" required name="password" placeholder="enter password" value="<%= user.password %>">
            <input type="submit" value="Submiteee">
        </form>
        <p style="color:#ec3c3c"><%= failure %></p>
        <p style="color:#00d300"><%= success %></p>
    </div>
    <div class="nini-center">
            <input type="text" required name="username" id="username"><br>
            <input type="text" required name="account" id="account"><br>
            <input type="password" required name="password" id="password"><br>
            <button onclick="newGuy()">Submit</button>
    </div>
    <div class="nini">
        <button>Clicker</button>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
        </div>
    </div>
    <div class="nini">
        <button>Clicker</button>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
        </div>
    </div>
    <div class="nini">
        <button>Clicker</button>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <ul>
                <% activeList.map((active)=>{ %>
                    <li>An <%= active.name %> has power level of <%= active.power %></li>
                <% }) %>
            </ul>
            <br>
            
            <% imUrl.forEach((url)=>{ %>
                <img src="<%= url %>" class="sp-img" width="120" alt="">
            <% }) %>
        </div>
    </div>
    <script src="/resources/script/logic.js"></script>
    <script>
        function newGuy(){
            const username = document.getElementById('fullname');
            const account = document.getElementById('account');
            const password = document.getElementById('password');
            fetch('/addguy',{
                method:"POST",
                body:JSON.stringify({
                    username:username.value,
                    account:account.value,
                    password:password.value
                }),
                headers:{
                    "Content-type":"application/json",
                }
            })
            .then(res => res.json())
            .then(res => {
                console.log(res)
            })
        }

    </script>
</body>
</html>