<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/style/style.css">
</head>
<body>
    <div class="spacer"></div>
    <div class="head-bar">
        <h1>Register now </h1>
        <h3>Create an account to get started</h3>
    </div>
    <div class="authoriser">
        <a href="/"><button>Home</button></a>
        <a href="/properties"><button>Properties</button></a>
        <a href="/login" id="login"><button>Login</button></a>
        <a href="/register" id="register"><button>Register</button></a>
        <button id="logout" onclick="logout()">Log out</button>
    </div>
    <div class="nini-center-r">
        <form action="/register" method="POST">
            <input type="text" required name="fullname" placeholder="enter your name" value="<%= user.fullname %>">
            <input type="email" required name="email" placeholder="enter email" value="<%= user.email %>"><br>
            <input type="text" required name="mobile" placeholder="enter mobile number" value="<%= user.mobile %>">
            <input type="text" required name="city" placeholder="enter city" value="<%= user.city %>"><br>
            <input type="password" required name="password" placeholder="enter password" value="<%= user.password %>">
            <input type="submit" value="Register">
        </form>
        <p style="color:#ec3c3c"><%= failure %></p>
        <p style="color:#00d300"><%= success %></p>
    </div>
    <% if (registered == true) { %>
    <div class="center-plain spp">
            <h4>You can now proceed to log in</h4>
            <a href="/login" id="login"><button>Login</button></a>
    </div>
    <% } %>
    <script src="/resources/script/logic.js"></script>
    <script>
        function newGuy(){
            const username = document.getElementById('fullname');
            const account = document.getElementById('account');
            const password = document.getElementById('password');
            fetch('/addguy',{
                method:"POST",
                body:JSON.stringify({
                    username:username.value,
                    account:account.value,
                    password:password.value
                }),
                headers:{
                    "Content-type":"application/json",
                }
            })
            .then(res => res.json())
            .then(res => {
                console.log(res)
            })
        }

    </script>
</body>
</html>